<div class="row">
  <div class="col-md-9">
    <div class="restaurant-name">
      <img src="assets/<%= restaurant.escape('img_path') %>header.jpg">
      <div class="street-address">
        <%= restaurant.escape('street_address') %>
        (<%= restaurant.escape('cross_streets') %>)
      </div>
      <div class="street-address-secondary">
        <%= restaurant.escape('city') %>
        <%= restaurant.escape('state') %>
        <%= restaurant.escape('zip') %>
      </div>
     </div>

    <div class="menu">
    </div>
  </div>

  <div class="col-md-3">
    <div class="item-details">
    </div>
  </div>
</div>
