<h2 class="checkout-title">
  Delivery Information
</h2>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="sr-only" for="user_name">Full Name</label>
      <input id="user_name"
             autocomplete="name"
             class="form-control field-input input-lg"
             name="user[user_name]"
             type="text"
             placeholder="Full Name"
             value="<%= delivery_address.escape('full_name') %>">
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label class="sr-only" for="user_phone">Telephone</label>
      <input id="user_phone"
             autocomplete="name"
             class="form-control field-input input-lg"
             name="user[user_phone]"
             type="tel"
             placeholder="Phone Number"
             value="<%= delivery_address.escape('tel') %>">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="form-group">
      <label class="sr-only" for="delivery_street1">Street Address</label>
      <input id="delivery_street1"
             autocomplete="address-line1"
             class="form-control field-input input-lg"
             name="user[street_address]"
             type="text"
             placeholder="Street Address"
             value="<%= delivery_address.escape('street_address') %>">
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <label class="sr-only" for="delivery_street2">Apartment/Suite</label>
      <input id="delivery_street2"
             autocomplete="address-line2"
             class="form-control field-input input-lg"
             name="user[street_address]"
             type="text"
             placeholder="Apt./Ste.">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label class="sr-only" for="zip">Zip</label>
      <input id="zip"
             autocomplete="postal-code"
             class="form-control field-input input-lg"
             name="user[zip]"
             type="text"
             placeholder="Postal Code"
             value="<%= delivery_address.escape('postal_code') %>">
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label class="sr-only" for="city">City</label>
      <input id="city"
             autocomplete="address-level2"
             class="form-control field-input input-lg"
             name="user[city]"
             type="text"
             placeholder="City"
             value="<%= delivery_address.escape('postal_code') %>">
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <label class="sr-only" for="state">State</label>
      <input id="state"
             autocomplete="address-level1"
             class="form-control field-input input-lg"
             name="user[state]"
             type="text"
             placeholder="State"
             value="<%= delivery_address.escape('state') %>">
    </div>
  </div>
</div>

